﻿@using ShikashiBot.Services
@inject IUsageStatisticsService statistics
<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Bot Usage Statistics</title>
</head>
<body>
    <div class="container">
        <h1>Bot Usage Statistics</h1>
        <table class="table table-striped">
            <tr>
                <td>Startup time</td>
                <td>@statistics.StartupTime</td>
            </tr>
            <tr>
                <td>Twitch API Calls</td>
                <td>@statistics.APICalls</td>
            </tr>
            <tr>
                <td>Messages sent</td>
                <td>@statistics.PostedMessages</td>
            </tr>
            <tr>
                <td>Commands sent</td>
                <td>@statistics.ExecutedCommands</td>
            </tr>
            <tr>
                <td>Messages processed</td>
                <td>@statistics.MessagesProcessed</td>
            </tr>
            <tr>
                <td>Memory usage</td>
                <td>@ViewData["Memory"] MB</td>
            </tr>
        </table>
    </div>
</body>

</html>